@import '~_vars.scss';

.notifications-wrapper {
    margin-top: 20px;

    .inner {
        max-width: 800px;
    }
}

.title {
    color: $dark-text;
    font-size: 20px;
    border-bottom: 1px solid lighten($placeholder, 5px);
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 16px;
        text-decoration: underline;
        color: $blue-accent;
        cursor: pointer;
    }
}

::ng-deep clark-notification:not(:last-child) .notification {
    border-bottom-color: lighten($placeholder, 13) !important;
}