@import '~_vars.scss';

.notification-dropdown {
    position: absolute;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.15);
    background: white;
    z-index: 4;
    width: 310px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    max-height: calc(100vh - 80px - 30px);
    display: flex;
    flex-direction: column;
    justify-content: stretch;


    &.active {
        opacity: 1;
        visibility: visible;
    }

    .header {
        background: linear-gradient(45deg, darken($bright-blue, 15), $bright-blue);
        color: white;
        text-align: center;
        font-size: 16px;
        padding: 10px;
        flex-grow: 0;
        flex-shrink: 0;
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.05);
    }

    .footer {
        flex-grow: 0;
        flex-shrink: 0;
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.05);
        padding: 5px 20px;
        text-align: center;
        background: linear-gradient(45deg, lighten($placeholder, 10), lighten($placeholder, 30));
        text-decoration: underline;
        color: $blue-accent;
        cursor: pointer;
    }

    .list-wrapper {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    &:after {
        // triangle
        content: '';
        width: 0;
        height: 0;
        top: -18px;
        left: 0;
        right: 0;
        margin: auto;
        $triangle-size: 10px;
        position: absolute;
        border-bottom: $triangle-size solid mix(darken($bright-blue, 15), $bright-blue);
        border-top: $triangle-size solid transparent;
        border-left: $triangle-size solid transparent;
        border-right: $triangle-size solid transparent;
    }
}