@import '~_vars.scss';

.notification-listing-container {
  border: 1px solid $placeholder;
  border-radius: 4px;
  background-color: white;
  padding: 8px;
  margin-top: 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .listing-group--right {
    .link {
      margin-left: 5vw;
    }
  }
}