@import '~_vars.scss';

.notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    padding: 10px 15px;
    position: relative;
    max-height: 100px;
    transition: all 0.2s ease;
    overflow: hidden;

    & > *:not(.text) {
        width: 15px;
        height: 15px;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 12px;
    }

    .icon {
        margin-right: 5px;
        color: gold;
    }

    .dismiss {
        margin-left: 5px;
        color: darken($placeholder, 15);
        text-align: right;
        cursor: pointer;
    }

    .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $dark-text;
    }

    &:after {
        // wipe animation element
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 0;
        background: $bright-blue;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in;
    }

    &.dismissed {
        max-height: 0;
        transition-delay: 0.1s;
        padding-top: 0;
        padding-bottom: 0;

        &:after {
            transition-delay: 0s;
            opacity: 1;
            visibility: visible;

            width: 100%;
        }
    }
}