<div class="notification-list">
  <ng-container *ngIf="notifications?.length > 0; else showNone">
    <ng-container *ngFor="let n of notifications; let i = index;">
        <div *ngIf="firstWithDate(n.date) === i" class="notification-date-header">{{ n.date | date:"MMMM d, yyyy" }}</div>
        <clark-notification [notification]="n" [expandable]="expandable" (dismiss)="dismiss(i)"></clark-notification>
    </ng-container>
  </ng-container>
  <ng-template #showNone>
    <div class="none">
        <div>🎉</div>
        You're all caught up!
    </div>
  </ng-template>
</div>