@import '~_vars.scss';
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .title {
    font-weight: bold;
    color: $blue-accent;
    font-size: 26px;
  }
  .button {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.faux-table {
  margin-top: 30px;
  .row.columns {
    padding-left: 21px;
  }
  .row.hide {
    display: none;
  }
  .placeholder {
    min-width: 30px;
  }
}

.published {
  border-left: 6px solid $green;
}

.unpublished {
  border-left: 6px solid $error-red;
}

.locked {
  border-left: 6px solid #f39c12;
}

.builder-link {
  color: #333;
}

.learning-object-structure {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .structure-popup-inner {
    max-width: 1100px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    background: white;
    box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 85vh;
    height: 100%;
  }
}
